# UI - PySide6 pentru interfață grafică
PySide6==6.*

# Lucru cu tabele și date
pandas
openpyxl

# Generare PDF
reportlab
fpdf2

# Statistici și grafice
matplotlib

# Clipboard support (Copy-Paste în tabel)
pyperclip
